<div class="row" *ngIf="state?.state">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="password" class="form-label">Yeni Şifre</label>
      <input type="password" class="form-control" id="password" placeholder="Yeni Şifre" #password>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Yeni Şifre Tekrarı</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Yeni Şifre Tekrarı" #passwordConfirm>
    </div>
    <button style="margin-top: 5px" type="button" class="btn btn-primary" (click)="updatePassword(password.value,passwordConfirm.value)">Şifreyi Güncelle</button>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state?.state">
  Bu link kullanılmamaktadır.
</div>
