<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="mb-3">
        <label for="nameSurname" class="form-label">Ad Soyad</label>
        <input placeholder="Ad Soyad" [ngClass]="{'is-invalid':submitted && component.nameSurname?.errors}" formControlName = "nameSurname" type="email" class="form-control" id="nameSurname" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text invalid-feedback" *ngIf="submitted && component.nameSurname.errors?.required">Lütfen ad soyadı boş geçmeyiniz</div>
        <div class="form-text invalid-feedback" *ngIf="submitted && (component.nameSurname.errors?.maxlength || component.nameSurname.errors?.minlength)">Lütfen ad soyadı 3 ile 50 karakter arasında yazınız.</div>
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label">Kullanıcı Adı</label>
        <input placeholder="Kullanıcı Adı" [ngClass]="{'is-invalid':submitted && component.userName?.errors}" formControlName = "userName" type="email" class="form-control" id="userName" aria-describedby="emailHelp">
        <div class="form-text invalid-feedback" *ngIf="submitted && component.userName.errors?.required">Lütfen kullanıcı adını boş geçmeyiniz</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input placeholder="Email" [ngClass]="{'is-invalid':submitted && component.email?.errors}" formControlName = "email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div  class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.required">Lütfen emaili boş geçmeyiniz</div>
        <div  class="form-text invalid-feedback" *ngIf="submitted && component.email.errors?.email">Lütfen emaili düzgün giriniz</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input placeholder="Şifre" [ngClass]="{'is-invalid':submitted && component.password?.errors}" formControlName = "password" type="password" class="form-control" id="password">
        <div class="form-text invalid-feedback" *ngIf="submitted && component.password.errors?.required">Lütfen şifreyi boş geçmeyiniz</div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" [ngClass]="{'is-invalid':submitted && component.confirmPassword?.errors}" class="form-label">Şifre Tekrar</label>
        <input placeholder="Şifre Tekrar" formControlName = "confirmPassword" type="password" class="form-control" id="confirmPassword">
        <div class="form-text invalid-feedback" *ngIf="submitted && component.confirmPassword.errors?.required">Lütfen şifre tekrarını boş geçmeyiniz</div>
        <div *ngIf="submitted && form.hasError('notSame')">Lütfen şifreyi doğrulayınız</div>
      </div>
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
  </div>
</div>
